@model UpcomingEvents

    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">@Model.Title</div>
        <div class="card-body">
            <h4 class="card-title">@Model.EventDate</h4>
            <p class="card-text">@Model.Summary</p>
        </div>
</div>